@use "./base.scss";

#app {
  font-weight: normal;
}

a,
.green {
  transition: var(--transition-time);
  padding: var(--xxs-spacing);
  color: var(--color-link);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--ur-c-green-t3);
    color: var(--ur-c-black);
  }
}

main {
  margin: 0 auto;
}
