@use "./base.scss";

#app {
  font-weight: normal;
}

a,
.green {
  transition: var(--transition-time);
  padding: var(--xxs-spacing);
  color: var(--color-link);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--ur-c-green-t3);
    color: var(--ur-c-black);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }
}

main {
  margin: 0 auto;
  // padding: var(--page-lateral-padding);
  // max-width: 1280px;
}
