@use "./base.scss";

html {
  scroll-behavior: smooth;
}

a,
.green {
  transition: var(--transition-time);
  color: var(--color-link);
  text-decoration: none;
}
h1 {
  text-align: center;
  padding: var(--l-spacing) 0;
}
img {
  max-width: 100%;
}
@media (hover: hover) {
  a:hover {
    background-color: var(--ur-c-green-t3);
    color: var(--ur-c-black);
  }
}

main {
  margin: 0 auto;
  padding-top: var(--nav-height);
}
